.Contact {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-grow: 33.33%;

    line-height: 30px;

    text-decoration: none;
    color: #000000;
}
