.Footer {
    display: flex;

    justify-content: space-between;

    padding: 16px;

    font-size: 0.9em;

    background: #202020;
    color: #9f9f9f;
}

.Footer-Language {
    padding: 0;
    border: 0;

    background: transparent;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
    color: inherit;
}
